@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.containerHeader{
    position: fixed;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 2%;
    align-items: center;
    transition: 0.5s;
    z-index: 100000;
    background-color: #000;
}

header .logo{
    position: relative;
    font-weight: 700;
    color: white;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}

header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li{
    position: relative;
    list-style: none;
}

header ul li a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: white;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.5s;
    font-size: 30px;
    display: block;
}

header ul li a:hover,
header ul li a.active{
    color: yellow;
    background: none;
}

header .sticky{
    padding: 5px 100px;
    background: white;
}

/* .banner {
    position: relative;
    width: 100%;
    height: 10vh;
    background: fixed;
    background-size: cover;
} */

header .menu-btn i{
    color: white;
    font-size: 22px;
    cursor: pointer;
    display: none;
}

#click{
    display: none;
}

@media (max-width: 940px) {
        header .menu-btn i{
            display: block;
        }
        #click:checked ~ .menu-btn i:before{
        content: "\f00d";
      }
        header ul{
            position: fixed;
            top: 80px;
            left: -100%;
            background: #111;
            height: 100%;
            width: 100%;
            display: block;
            text-align: center;
            transition: all 0.3s ease;
        }
        
        #click:checked ~ ul{
            left: 0%;
        }
        header ul li{
            margin: 40px 0;
            font-size: 20px;
        }    
}

.sticky .logo,
.sticky ul li a{
    color: #000;
}

.sticky {
    background-color: #fff;
}

.sticky .menu-btn i{
    color: black;
}

.sticky ul{
    background-color: #fff;
}

#home{
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
}

#home .container{
    position: absolute;
    text-align: center;
    top: 250px;
    z-index: 1;
}

.banner-thumb >img{
    height: 100vh;
    width: 100vw;
    z-index: 0;
}

.banner-inner h3{
    text-align: center;
    margin: 10px;
    color: white;
}

.banner-inner h1{
    text-align: center;
    margin-top: 10px;
    color: white;
    font-size: 5.5em;
}

#menu {
    position: relative;
    height: 100vh;
    width: 100%;
    margin-top: 0px;
    background-color: white;
}

.containerrow {
    position: relative;
    width: 100%;
    background-color: white;
}

.col h1{
text-align: center;
    font-family: 'Dancing Script', cursive;
    font-style: oblique 40deg;
    color:black;
    padding-bottom: 100px;
    padding-top: 100px;
}

.signature-menu{
    padding: 0;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(350px,1fr));
    grid-gap: 20px 40px;
}


.food-items:hover{
    box-shadow: 0 8px 12px 0 rgba(90, 90, 90, 0.411)
}

.food-items{
    display: grid;
    position: relative;
    grid-template-rows: auto 1fr;
    border-radius: 15px;
    box-shadow: 0 0 50px rgba(0,0,0,0.1);
    margin: 0 20px;
    background-color: #000;
}

.food-items img{   
    position: relative;
    width: 100%;
    border-radius: 15px 15px 0 0;
}
.details{
    padding: 20px 10px;
    display: grid;
    grid-template-rows: auto 1fr 50px;
    grid-row-gap: 15px;
    width: 100%;
}
.price-menu{
    color: yellow;
}

.title-menu{
    display: grid;
    grid-template-columns: auto auto;
    color: white;
}
.title-menu>h4{
    text-align: left;
    font-weight: 600;
    font-size: 18px;
}
.price-menu{
    text-align: right;
}
.details>p{
    /* margin: auto; */
    color: white;
    font-size: 15px;
    line-height: 28px;
    font-weight: 400;
    align-self: stretch;
    text-align: left;
}
.details>button{
    /* margin: auto; */
    background-color: yellow;
    border: none;
    color: black;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    width: 100%;
    height: 50px;
    cursor: pointer;
    color: black;
    transition: 0.5s;
    outline: 5;
}

.details>button:hover{
    background-color: black;
    color: white;
}

.btn_allmenu{
    position: relative;
    border-radius: 50px;
    padding-top: 50px;
    margin-left: 0%;
    width: 85%;
    left: calc(50% -  (697px / 2));
}

.btn_menu:hover{
    background-color: black;
    color: white;
}

.btn_menu{
    justify-content: center; 
    display: flex;
    align-items: center;
    text-align: center; 
    background-color: yellow;
    border: none;
    color: black;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    width: 100%;
    height: 50px;
    cursor: pointer;
    color: black;
    transition: 0.5s;
    outline: 5;
}

.btn_menu p{
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0;
}

#contact {
    position: relative;
    top: 3450px;
    width: 100%;
    /* margin-top: 50px; */
    background-color: black;
}

#contact .logo{
    padding-left: 20px;
    text-align: left;
}

#contact .column {
    float: left;
    width: 50%;
    padding: 15px;
    color: whitesmoke;
  }
  
  #contact .row{
    position: relative;
    width: 100%;
  }
  
  /* Clear floats after the columns */
  #contact .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .gallery{
      color: white;
      padding-top: 50px;
  }

  .content-location h4{
      padding-top: 20px;
    display: inline-block;
  }

  .content-location p{
    display: inline-block;
  }

  .content-email h4{
    display: inline-block;
  }

  .content-email p{
    display: inline-block;
  }

  .content-tel h4{
    display: inline-block;
  }

  .content-tel p{
    display: inline-block;
  }

  .content-open{
      border: solid white ;
      width: fit-content;
      padding-top: 20px;
      padding-left:  20px;
      padding-right: 50px;
  }
  
  .content-open h4{
padding-bottom: 30px;  
}

.img-w img{
    float: left;
    width: 33%;
    padding: 5px;
}

@media all and (max-width: 400px) {
    .containerHeader{
        height: 50px;
    }

    header .logo{
        font-weight: 700;
        font-size: 1.2em;
        letter-spacing: 2px;
    }

    header ul{
        top: 50px;
        background: #111;
    }

    
    header ul li a{
        font-size: 20px;
    }

    #home .container{
        top: 200px;
    }

    .banner-inner h1{
        font-size: 3.2em;
    }

    .food-items img{   
        position: relative;
        width: 100%;
        border-radius: 15px 15px 0 0;
    }

    .btn_allmenu{
        left: calc(50% -  (331.84px / 2));
    }

    #contact {
        position: relative;
        top: 3000px;
        width: 100%;
        /* margin-top: 50px; */
        background-color: black;
    }

    .gallery{
        color: white;
        padding-top: 50px;
    }

    .allimg-w{
        position: relative;
        width: 100%;
        height: 600px;
        align-content: center;
    }

    .img-w img{
        float: none;
        width: 100%;
        padding-left: 25px;
    }


}

/* old  */





