<%- include('partials/header_menu'); %>
    <header class="containerHeader">
        <a href="#" class="logo">Area-46</a>
        <input type="checkbox" id="click">
        <label for="click" class="menu-btn">
           <i class="fas fa-bars"></i> 
        </label>
        <ul>
            <li><a href="/home">HOME</a></li>
            <li><a href="/menu">MENU</a></li>
            <li><a href="/home#contact">CONTACT</a></li>
            <li><a href="/order">ORDER</a></li>
        </ul>
    </header>


    <section class="banner">
        <script type="text/javascript">
            window.addEventListener("scroll", function() {
                var header = document.querySelector("header");
                if (window.scrollY > 0)
                    header.classList.add("sticky");
                else header.classList.remove("sticky");
            })
        </script>
    </section>

    <div class="main-container">
        <h2>Menu Categories</h2>
        <div id="search-container">
            <input type="text" id="search-input" placeholder="Search food name here . . ." />
            <button id="search">Search</button>
        </div>
        <div class="filter-container">
            <div class="category-head">
                <ul>
                    <div class="category-title active" id="all">
                        <li>All</li>
                        <span class="material-icons">
                            border_all
                        </span>
                    </div>
                    <div class="category-title" id="apprtizer">
                        <li>Appetizer</li>
                        <span class="material-icons">
                            cookie
                        </span>
                    </div>
                    <div class="category-title" id="main">
                        <li>Main</li>
                        <span class="material-icons">
                            local_pizza
                        </span>
                    </div>
                    <div class="category-title" id="dessert">
                        <li>Dessert</li>
                        <span class="material-icons">
                            cake
                        </span>
                    </div>
                    <div class="category-title" id="drink">
                        <li>Drink</li>
                        <span class="material-icons">
                            wine_bar
                        </span>
                    </div>
                </ul>
            </div>

            <div class="posts-collect">
                <div class="posts-main-container">
                    <!-- single post -->
                    <div class="all drink Aperitivo">
                        <div class="post-img">
                            <img class="shop-item-image" src="./images/menu//drink/d1.png" alt="post">
                            <span class="category-name">drink</span>
                        </div>
                        <div class="title-menu">
                            <h4 class="shop-item-title">Aperitivo</h4>
                            <h5 class="price-menu shop-item-price"> $10 </h5>
                        </div>
                        <button type="button" class="read-btn shop-item-button">Order</button>
                    </div>
                    <!-- end of single post -->
                    <!-- single post -->
                    <div class="all drink">
                        <div class="post-img">
                            <img class="shop-item-image" src="./images/menu//drink/d2.png" alt="post">
                            <span class="category-name">drink</span>
                        </div>
                        <div class="title-menu">
                            <h4 class="shop-item-title">Negroni</h4>
                            <h5 class="price-menu shop-item-price"> $10 </h5>
                        </div>
                        <button type="button" class="read-btn shop-item-button">Order</button>
                    </div>
                    <!-- end of single post -->
                    <!-- single post -->
                    <div class="all drink">
                        <div class="post-img">
                            <img class="shop-item-image " src="./images/menu//drink/d3.png" alt="post">
                            <span class="category-name">drink</span>
                        </div>

                        <div class="title-menu">
                            <h4 class="shop-item-title">Campari</h4>
                            <h5 class="price-menu shop-item-price"> $10 </h5>
                        </div>
                        <button type="button" class="read-btn shop-item-button">Order</button>
                    </div>
                    <!-- end of single post -->
                    <!-- single post -->
                    <div class="all drink">
                        <div class="post-img">
                            <img class="shop-item-image" src="./images/menu//drink/d4.png" alt="post">
                            <span class="category-name">drink</span>
                        </div>
                        <div class="title-menu">
                            <h4 class="shop-item-title">Americano</h4>
                            <h5 class="price-menu shop-item-price"> $10 </h5>
                        </div>
                        <button type="button" class="read-btn shop-item-button">Order</button>
                    </div>
                    <!-- end of single post -->
                    <!-- single post -->
                    <div class="all drink">
                        <div class="post-img">
                            <img class="shop-item-image" src="./images/menu//drink/d5.png" alt="post">
                            <span class="category-name">drink</span>
                        </div>
                        <div class="title-menu">
                            <h4 class="shop-item-title">Bellini</h4>
                            <h5 class="price-menu shop-item-price"> $10 </h5>
                        </div>
                        <button type="button" class="read-btn shop-item-button">Order</button>
                    </div>
                    <!-- end of single post -->

                    <!-- single post -->
                    <div class="all apprtizer">
                        <div class="post-img">
                            <img class="shop-item-image" src="./images/menu//appe/a1.png" alt="post">
                            <span class="category-name">apprtizer</span>
                        </div>

                        <div class="title-menu">
                            <h4 class="shop-item-title">Crostini</h4>
                            <h5 class="price-menu shop-item-price"> $8 </h5>
                        </div>
                        <button type="button" class="read-btn shop-item-button">Order</button>
                    </div>
                    <!-- end of single post -->
                    <!-- single post -->
                    <div class="all apprtizer">
                        <div class="post-img">
                            <img class="shop-item-image" src="./images/menu//appe/a2.png" alt="post">
                            <span class="category-name">apprtizer</span>
                        </div>

                        <div class="title-menu">
                            <h4 class="shop-item-title">Grassini</h4>
                            <h5 class="price-menu shop-item-price"> $8 </h5>
                        </div>
                        <button type="button" class="read-btn shop-item-button">Order</button>
                    </div>
                    <!-- end of single post -->
                    <!-- single post -->
                    <div class="all apprtizer">
                        <div class="post-img">
                            <img class="shop-item-image" src="./images/menu//appe/a3.png" alt="post">
                            <span class="category-name">apprtizer</span>
                        </div>

                        <div class="title-menu">
                            <h4 class="shop-item-title">Pizzette</h4>
                            <h5 class="price-menu shop-item-price"> $8 </h5>
                        </div>
                        <button type="button" class="read-btn shop-item-button">Order</button>
                    </div>
                    <!-- end of single post -->
                    <!-- single post -->
                    <div class="all apprtizer">
                        <div class="post-img">
                            <img class="shop-item-image" src="./images/menu//appe/a4.png" alt="post">
                            <span class="category-name">apprtizer</span>
                        </div>

                        <div class="title-menu">
                            <h4 class="shop-item-title">Taralli</h4>
                            <h5 class="price-menu shop-item-price"> $8 </h5>
                        </div>
                        <button type="button" class="read-btn shop-item-button">Order</button>
                    </div>
                    <!-- end of single post -->
                    <!-- single post -->
                    <div class="all apprtizer">
                        <div class="post-img">
                            <img class="shop-item-image" src="./images/menu//appe/a5.png" alt="post">
                            <span class="category-name">apprtizer</span>
                        </div>

                        <div class="title-menu">
                            <h4 class="shop-item-title">Panelle</h4>
                            <h5 class="price-menu shop-item-price"> $8 </h5>
                        </div>
                        <button type="button" class="read-btn shop-item-button">Order</button>
                    </div>
                    <!-- end of single post -->
                    <!-- single post -->
                    <div class="all dessert">
                        <div class="post-img">
                            <img class="shop-item-image" src="./images/menu//dessert/de1.png" alt="post">
                            <span class="category-name">dessert</span>
                        </div>

                        <div class="title-menu">
                            <h4 class="shop-item-title">Affogato espresso martini</h4>
                            <h5 class="price-menu shop-item-price"> $15 </h5>
                        </div>
                        <button type="button" class="read-btn shop-item-button">Order</button>
                    </div>
                    <!-- end of single post -->
                    <!-- single post -->
                    <div class="all dessert">
                        <div class="post-img">
                            <img class="shop-item-image" src="./images/menu//dessert/de2.png" alt="post">
                            <span class="category-name">dessert</span>
                        </div>

                        <div class="title-menu">
                            <h4 class="shop-item-title">Choc-hazelnut baci chessecake</h4>
                            <h5 class="price-menu shop-item-price"> $15 </h5>
                        </div>
                        <button type="button" class="read-btn shop-item-button ">Order</button>
                    </div>
                    <!-- end of single post -->
                    <!-- single post -->
                    <div class="all dessert">
                        <div class="post-img">
                            <img class="shop-item-image" src="./images/menu//dessert/de3.png" alt="post">
                            <span class="category-name">dessert</span>
                        </div>

                        <div class="title-menu">
                            <h4 class="shop-item-title">Tiramisu</h4>
                            <h5 class="price-menu shop-item-price"> $15 </h5>
                        </div>
                        <button type="button" class="read-btn shop-item-button">Order</button>
                    </div>
                    <!-- end of single post -->
                    <!-- single post -->
                    <div class="all dessert">
                        <div class="post-img">
                            <img class="shop-item-image" src="./images/menu//dessert/de4.png" alt="post">
                            <span class="category-name">dessert</span>
                        </div>

                        <div class="title-menu">
                            <h4 class="shop-item-title">Bomboloni</h4>
                            <h5 class="price-menu shop-item-price"> $15 </h5>
                        </div>
                        <button type="button" class="read-btn shop-item-button">Order</button>
                    </div>
                    <!-- end of single post -->
                    <!-- single post -->
                    <div class="all dessert">
                        <div class="post-img">
                            <img class="shop-item-image" src="./images/menu//dessert/de5.png" alt="post">
                            <span class="category-name">dessert</span>
                        </div>

                        <div class="title-menu">
                            <h4 class="shop-item-title">Italian love cake</h4>
                            <h5 class="price-menu shop-item-price"> $15 </h5>
                        </div>
                        <button type="button" class="read-btn shop-item-button">Order</button>
                    </div>
                    <!-- end of single post -->

                    <!-- single post -->
                    <div class="all main">
                        <div class="post-img">
                            <img class="shop-item-image" src="./images/menu//main/m1.png" alt="post">
                            <span class="category-name">main</span>
                        </div>

                        <div class="title-menu">
                            <h4 class="shop-item-title">Seafood stew with Saffron Zabaglione</h4>
                            <h5 class="price-menu shop-item-price"> $15 </h5>
                        </div>
                        <button type="button" class="read-btn shop-item-button">Order</button>
                    </div>
                    <!-- end of single post -->
                    <!-- single post -->
                    <div class="all main">
                        <div class="post-img">
                            <img class="shop-item-image" src="./images/menu//main/m2.png" alt="post">
                            <span class="category-name">main</span>
                        </div>

                        <div class="title-menu">
                            <h4 class="shop-item-title">Tuscan tomato bread</h4>
                            <h5 class="price-menu shop-item-price"> $12 </h5>
                        </div>
                        <button type="button" class="read-btn shop-item-button">Order</button>
                    </div>
                    <!-- end of single post -->
                    <!-- single post -->
                    <div class="all main">
                        <div class="post-img">
                            <img class="shop-item-image" src="./images/menu//main/m3.png" alt="post">
                            <span class="category-name">main</span>
                        </div>

                        <div class="title-menu">
                            <h4 class="shop-item-title">Gorgonzola, Fig and Pancetta Pizza</h4>
                            <h5 class="price-menu shop-item-price"> $8 </h5>
                        </div>
                        <button type="button" class="read-btn shop-item-button">Order</button>
                    </div>
                    <!-- end of single post -->
                    <!-- single post -->
                    <div class="all main">
                        <div class="post-img">
                            <img class="shop-item-image" src="./images/menu//main/m4.png" alt="post">
                            <span class="category-name">main</span>
                        </div>

                        <div class="title-menu">
                            <h4 class="shop-item-title">Pea and bacon risotto</h4>
                            <h5 class="price-menu shop-item-price"> $12 </h5>
                        </div>
                        <button type="button" class="read-btn shop-item-button">Order</button>
                    </div>
                    <!-- end of single post -->
                    <!-- single post -->
                    <div class="all main">
                        <div class="post-img">
                            <img class="shop-item-image" src="./images/menu//main/m5.png" alt="post">
                            <span class="category-name">main</span>
                        </div>

                        <div class="title-menu ">
                            <h4 class="shop-item-title">Osso buco with citrus Gremolata</h4>
                            <h5 class="price-menu shop-item-price "> $12 </h5>
                        </div>
                        <button type="button " class="read-btn shop-item-button ">Order</button>
                    </div>
                    <!-- end of single post -->
                    <!-- single post -->
                </div>
            </div>
        </div>
    </div>

    <section class="container content-section ">
        <h2 class="section-header ">CART</h2>
        <div class="cart-row ">
            <span class="cart-item cart-header cart-column ">ITEM</span>
            <span class="cart-price cart-header cart-column ">PRICE</span>
            <span class="cart-quantity cart-header cart-column ">QUANTITY</span>
        </div>
        <div class="cart-items ">

        </div>
        <div class="cart-total ">
            <strong class="cart-total-title ">Total</strong>
            <span class="cart-total-price ">$0</span>
        </div>
        <button class="btn btn-primary btn-purchase " type="button ">CONFIRM</button>
    </section>

    <!-- JS file -->
    <script src="../menu.js "></script>

    </body>

    </html>