<%- include('partials/header_order'); %>
    <header class="containerHeader">
        <a href="#" class="logo">Area-46</a>
        <input type="checkbox" id="click">
        <label for="click" class="menu-btn">
           <i class="fas fa-bars"></i> 
        </label>
        <ul>
            <li><a href="/home">HOME</a></li>
            <li><a href="/menu">MENU</a></li>
            <li><a href="/home#contact">CONTACT</a></li>
            <li><a href="#">ORDER</a></li>
        </ul>
    </header>


    <section class="banner">
        <script type="text/javascript">
            window.addEventListener("scroll", function() {
                var header = document.querySelector("header");
                if (window.scrollY > 0)
                    header.classList.add("sticky");
                else header.classList.remove("sticky");
            })
        </script>
    </section>





    </body>

    </html>