@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.containerHeader{
    position: fixed;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 2%;
    align-items: center;
    transition: 0.5s;
    z-index: 100000;
    background-color: #000;
}

header .logo{
    position: relative;
    font-weight: 700;
    color: white;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}

header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li{
    position: relative;
    list-style: none;
}

header ul li a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: white;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.5s;
    font-size: 30px;
    display: block;
}

header ul li a:hover,
header ul li a.active{
    color: yellow;
    background: none;
}

header .sticky{
    padding: 5px 100px;
    background: white;
}

header .menu-btn i{
    color: white;
    font-size: 22px;
    cursor: pointer;
    display: none;
}

#click{
    display: none;
}

@media (max-width: 940px) {
        header .menu-btn i{
            display: block;
        }
        #click:checked ~ .menu-btn i:before{
        content: "\f00d";
      }
        header ul{
            position: fixed;
            top: 80px;
            left: -100%;
            background: #111;
            height: 100%;
            width: 100%;
            display: block;
            text-align: center;
            transition: all 0.3s ease;
        }
        
        #click:checked ~ ul{
            left: 0%;
        }
        header ul li{
            margin: 40px 0;
            font-size: 20px;
        }    
}

.sticky .logo,
.sticky ul li a{
    color: #000;
}

.sticky {
    background-color: #fff;
}

.sticky .menu-btn i{
    color: black;
}

.sticky ul{
    background-color: #fff;
}

/* menu */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
img{width: 100%}

body{
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
}


@media all and (max-width: 400px) {
    .containerHeader{
        height: 50px;
    }

    header .logo{
        font-weight: 700;
        font-size: 1.2em;
        letter-spacing: 2px;
    }

    header ul{
        top: 50px;
        background: #111;
    }

    header ul li a{
        font-size: 20px;
    }

}

.table{
    position: relative;
    left: calc(50% - 350.5px);
    top: 120px;
    width: 90%;
    height: auto;
    color: #fff;
    background-color: rgb(255, 255, 255);
    font-size: 28px;
}

.containerorder {
    position: relative;
    left: 0;
    padding-left: 10px;
    width: 95%;
    height: 120px;
    color: #fff;
    background-color: rgb(41, 40, 40);
    font-size: 28px;
    font-weight: 700;
    border-radius: 10px;
}

.block {
    position: absolute;
    left: 0;
    width: fit-content;
    padding: 5px;
    
    /* height: 200px; */
}

.block img {
    position: relative;
    width: 120px;
    height: auto;
    left: 0;
    border-radius: 15px;
    left: 25px;
}

.table p{
    position: absolute;
    display: inline-block;
}

.containerorder .name {
    position: absolute;
    left: 220px;
    font-size: 32px;
    display: flex;
    align-items: center;
    top: calc(50% - 24px);
}

.containerorder .price {
    position: absolute;
    right: 10px;
    font-size: 32px;
    display: flex;
    align-items: center;
    top: calc(50% - 24px);
}

.containerorder .count {
    position: absolute;
    right: 250px;
    font-size: 32px;
    display: flex;
    align-items: center;
    top: calc(50% - 24px);
}
