name: deploy frontend application
'on':
  push:
    branches:
      - dev
jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
      
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      -
        name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}
      -
        name: prepare the docker-compose run
        run: |
              ls -l
      -
        name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          tags: popbobkok5019/234-deploy-project-frontend_NEW_DEV:latest
      -
        name: prepare the docker-compose run
        run: |
              mkdir 234-deploy-project-frontend_NEW_DEV
              cp docker-compose.yml 234-deploy-project-frontend_NEW_DEV/docker-compose.yml
              cd 234-deploy-project-frontend_NEW_DEV
              docker-compose -H ${{ secrets.HOST_SERVER  }} down
              docker-compose -H ${{ secrets.HOST_SERVER  }} pull
              docker-compose -H ${{ secrets.HOST_SERVER  }} up -d